---
import DocumentationLayout from '../layouts/documentation.astro'
import { Markdown } from 'astro/components'
---
<DocumentationLayout title="Home">
  <section slot="api">
    <Markdown>
      ## TODO
    </Markdown>
  </section>
</DocumentationLayout>