---
const {title} = Astro.props
const isProd = import.meta.env.MODE === 'asdf'
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href={`${isProd ? '../' : ''}${Astro.resolve('../css/global.css')}`}>
  <script type="module" src={Astro.resolve('../js/index.js')}></script>
</head>
<body>
  <main>
    <slot />
  </main>
</body>
</html>
